{{ define "main" }}
<div class="content-container">   
    <h1 style="color: {{ .Site.Params.colors.text }}">Pages</h1>
    
    <div class="pages-list">
        {{ $pages := where .Site.RegularPages "Section" "pages" }}
        {{ $sortedPages := $pages.ByDate.Reverse }}
        {{ $grouped := dict }}
        
        {{ range $sortedPages }}
            {{ if not .Draft }}
                {{ $category := index (split .File.Dir "/") 1 }}
                {{ if not $category }}
                    {{ $category = "Uncategorized" }}
                {{ end }}
                {{ if not (index $grouped $category) }}
                    {{ $grouped = merge $grouped (dict $category (slice .)) }}
                {{ else }}
                    {{ $currentEntries := index $grouped $category }}
                    {{ $grouped = merge $grouped (dict $category (append (slice .) $currentEntries)) }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $.Scratch.Set "categories" (slice) }}
        {{ range $category, $entries := $grouped }}
            {{ $.Scratch.Add "categories" (slice $category) }}
        {{ end }}
        
        {{ $sortedCategories := sort ($.Scratch.Get "categories") }}
        
        {{ range $sortedCategories }}
            {{ $category := . }}
            {{ $entries := index $grouped $category }}
            <h2 class="category-title">{{ humanize $category }}</h2>
            <ul class="category-entries">
                {{ range $entries }}
                <li class="page-entry">
                    <span class="page-title">
                        <a href="{{ .RelPermalink }}" style="color: {{ .Site.Params.colors.link }}">{{ .Title }}</a>
                    </span>
                </li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
{{ end }} 