/* ------------------------------
   Collapsible Elements
------------------------------*/
.collapsible {
  margin-bottom: 1em;
  background-color: {{ .Site.Params.colors.sectionBackground }};
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.collapsible-button {
  background-color: rgba(31, 31, 31, 0.8);
  color: {{ .Site.Params.colors.headerText }};
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-button::after {
  content: '+';
  font-size: 1.2rem;
  font-weight: bold;
  color: {{ .Site.Params.colors.link }};
}

.collapsible-button.active::after {
  content: '-';
}

.collapsible-button:hover {
  background-color: rgba(42, 42, 42, 0.8);
}

.collapsible-content {
  display: none;
  padding: 1rem;
  background-color: {{ .Site.Params.colors.sectionBackground }};
  color: {{ .Site.Params.colors.paragraphText }};
}

.collapsible-content.active {
  display: block;
} 