{{ define "main" }}

<div class="section about">
    <h2>About Me</h2>
    {{ with .Site.GetPage "about" }}
    <div class="about-preview">
        <div class="profile-image-container">
            <img src="{{ .Site.Params.profileImage | relURL }}" alt="Profile picture" class="profile-pic-preview">
        </div>
        <div class="about-text">
            <div style="color: {{ .Site.Params.colors.paragraphText }}">
                <p>{{ .Summary }}</p>
                <a href="{{ .RelPermalink }}" class="read-more-link">Read More</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="section pages">
    <h2>Pages</h2>
    <div class="category-grid">
        {{ $pages := where .Site.RegularPages "Section" "pages" }}
        {{ $nonDraftPages := where $pages "Draft" false }}
        {{ range first (default 6 .Site.Params.pagesToShow) $nonDraftPages }}
        <a href="{{ .RelPermalink }}" class="card-link">
            <div class="page-card">
                {{ if .Params.image }}
                <div class="card-image">
                    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                </div>
                {{ end }}
                <div class="card-content">
                    <h3>{{ .Title }}</h3>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
    <a href="{{ "/pages/" | relURL }}" class="view-all-link">View all pages</a>
</div>

<div class="section blog">
    <h2>Latest Blog Posts</h2>
    <ul class="blog-list-preview">
        {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
        <li>
            <span class="post-date">{{ .Date.Format .Site.Params.dateFormat }}</span>
            <span class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        </li>
        {{ end }}
    </ul>
    <a href="{{ "/blog/" | relURL }}" class="view-all-link">View all posts</a>
</div>

<div class="section coaching">
    <h2>Coaching Services</h2>
    {{ with .Site.GetPage "coaching" }}
    <div class="coaching-content">
        <p id="coachingSummary">{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="read-more-link">Read More</a>
    </div>
    {{ end }}
</div>

{{ end }} 